<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Mot de passe oublié !?</h2>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="contact-form">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Email</label>
                            <div class="input-group" [ngClass]="{'input-group-focus': focus1}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false">
                                <div *ngIf="forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                                    <small *ngIf="forgotPasswordForm.get('email').errors.required">Email is required.</small>
                                    <small *ngIf="forgotPasswordForm.get('email').errors.email">Invalid email address.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-danger btn-lg btn-fill" type="submit" [disabled]="forgotPasswordForm.invalid">Valider</button>
                        </div>
                    </div>
                </form>
                <p *ngIf="message">{{ message }}</p>
            </div>
        </div>
    </div>
</div>
