<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav> -->
            <div class="credits ml-auto">
                Dari 3D -Construisez vos réves, un clic a la fois
                <img [routerLink]="['/landing']"  src="assets/logoo.png"  style="width: 70px; height: auto;">

            </div>
        </div>
    </div>
</footer>
