<div class="page-header" data-parallax="true" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="presentation-title">DARI 3D</h1>
            <h3>Construisez vos réves, un clic a la fois</h3>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">vous été qui !?</h2>
                <!-- <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5> -->
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <img src="./assets/img/engineer.png" width="70">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Ingénieur Béton</h4>
                        <p class="description">Vous cherchez à élargir votre clientèle et à montrer vos projets passés ? </p>
                        <a [routerLink]="['/ingenieur']" class="btn btn-link btn-danger">Voir détails</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <img src="./assets/img/particulier.png" width="70">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Particulier</h4>
                        <p>Vous avez rencontrez des difficultés à créer un plan et à trouver les meilleurs prix pour les fournitures de construction ?</p>
                        <a [routerLink]="['/particulier']"  class="btn btn-link btn-danger">Voir détails</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                     <img src="./assets/img/fournisseur.png" width="70">
                    </div>
                    <div class="description">
                        <h4 class="info-title">Fournisseur</h4>
                        <p>"Vous voulez promouvoir vos matériaux de construction et atteindre un public plus large ?</p>
                        <a [routerLink]="['/fournisseur']"  class="btn btn-link btn-danger">Voir détails</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">L'équipe sont :</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/ibtihel.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Farhat Ibtihel</h4>
                                <h6 class="card-category">Etudiant Ingenieurie</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Etudiante en cycle d'ingénieur à l'ESPRIT, avec une spécialisation en Software Architecture Engineering (SAE). Passionnée par le développement web, elle s'intéresse particulièrement à la partie frontend, notamment avec le framework Angular. Son objectif est de créer des interfaces utilisateur intuitives et dynamiques, offrant une expérience utilisateur optimale. Son parcours académique et ses projets pratiques lui ont permis d'acquérir des compétences solides dans ce domaine, et elle est enthousiaste à l'idée de continuer à innover et à développer ses compétences.                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

         

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/ali.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Ali Sassi</h4>
                                <h6 class="card-category">Etudiant Ingénieur</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Etudiant en cycle d'ingénieur à l'ESPRIT, spécialisé en Software Architecture Engineering (SAE). Il est particulièrement intéressé par le développement backend, où il se concentre sur la création de systèmes robustes et performants. Son expertise inclut la conception et la gestion des bases de données, ainsi que le développement de services backend efficaces. Grâce à son parcours académique et ses projets, il a acquis des compétences approfondies dans ce domaine, et il est déterminé à continuer à évoluer et à exceller dans le développement backend.

                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Contacter nous</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="nom" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Saisir votre message.."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Envoyer votre Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
