<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Renouvelez votre mot de passe !?</h2>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="contact-form">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Saisir votre nouveau mot de passe</label>
                            <div class="input-group" [ngClass]="{'input-group-focus': focus1}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                </div>
                                <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="New Password" (focus)="focus1=true" (blur)="focus1=false">
                                <div *ngIf="resetPasswordForm.get('newPassword').invalid && (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched)">
                                    <small *ngIf="resetPasswordForm.get('newPassword').errors.required">New Password is required.</small>
                                    <small *ngIf="resetPasswordForm.get('newPassword').errors.minlength">New Password must be at least 6 characters long.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Confirmer votre nouveau mot de passe</label>
                            <div class="input-group" [ngClass]="{'input-group-focus': focus2}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                </div>
                                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" (focus)="focus2=true" (blur)="focus2=false">
                                <div *ngIf="resetPasswordForm.get('confirmPassword').invalid && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
                                    <small *ngIf="resetPasswordForm.get('confirmPassword').errors.required">Confirmation Password is required.</small>
                                    <small *ngIf="resetPasswordForm.hasError('passwordMismatch')">Passwords do not match.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-danger btn-lg btn-fill" type="submit" [disabled]="resetPasswordForm.invalid">Valider</button>
                        </div>
                    </div>
                </form>
                <p *ngIf="message">{{ message }}</p>
            </div>
        </div>
    </div>
</div>
